# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# SQLite
*.db
*.sqlite3

# Uploaded Files
uploads/*
!uploads/.gitkeep

# Node / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# IDE
.vscode/
.idea/
